<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.michalina.game">

    <application
        android:allowBackup="true"
        android:icon="@drawable/rabbit_little"
        android:label="@string/app_name"
        android:roundIcon="@drawable/rabbit_little"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Points.PointsRatingActivity">
        </activity>
        <activity
            android:name=".Instructions.FishInstructionActivity">
        </activity>
        <activity
            android:name=".Instructions.PigInstructionActivity">
        </activity>
        <activity
            android:name=".Instructions.RabbitInstructionActivity">
        </activity>
        <activity android:name=".Game.FishMapActivity26"></activity>
        <activity android:name=".Game.FishMapActivity24"></activity>
        <activity android:name=".Game.FishMapActivity34"></activity>
        <activity android:name=".Game.FishMapActivity36"></activity>
        <activity android:name=".Game.FishMapActivity39"></activity>
        <activity android:name=".Game.FishMapActivity29"></activity>
        <activity android:name=".Game.PigMapActivity44"></activity>
        <activity android:name=".Game.PigMapActivity14"></activity>
        <activity android:name=".Game.PigMapActivity16"></activity>
        <activity android:name=".Game.PigMapActivity19"></activity>
        <activity android:name=".Game.PigMapActivity46"></activity>
        <activity android:name=".Game.PigMapActivity49"></activity>
        <activity android:name=".Game.RabbitMapActivity14"></activity>
        <activity android:name=".Game.RabbitMapActivity54"></activity>
        <activity android:name=".Game.RabbitMapActivity56"></activity>
        <activity android:name=".Game.RabbitMapActivity59"></activity>
        <activity android:name=".Game.RabbitMapActivity16"></activity>
        <activity android:name=".Game.RabbitMapActivity19"></activity>

        <service android:name=".Technical.PointsAudioInstruction"  android:enabled="true"></service>
        <service android:name=".Technical.SoundService"  android:enabled="true"></service>
    </application>

</manifest>